<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.tattood.tattood">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.tattood.tattood.LoginActivity"

            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.tattood.tattood.DiscoveryActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.tattood.tattood.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--android:theme="@android:style/Theme.NoDisplay"-->
        <activity android:name="com.tattood.tattood.SplashActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:noHistory="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tattood.tattood.RegisterActivity">
        </activity>
        <activity
            android:name="com.tattood.tattood.SeeMore"
            android:label="@string/title_activity_see_more"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.tattood.tattood.TattooActivity"
            android:label="@string/title_activity_tattoo"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.tattood.tattood.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.tattood.tattood.CameraActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.tattood.tattood.UploadActivity"
            android:label="@string/title_activity_upload"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.tattood.tattood.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.tattood.tattood.TattooEditActivity">
        </activity>
        <activity android:name=".ExtractImage">
        </activity>
    </application>
</manifest>
